<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trip.mapper.RestaurantMapper" >
  <resultMap id="BaseResultMap" type="com.trip.entity.Restaurant" >
    <id column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="restaurant_name" property="restaurantName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="monthly_sales" property="monthlySales" jdbcType="INTEGER" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="exp_content2" property="expContent2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    restaurant_id, login_name, password, restaurant_name, address, tel, score, monthly_sales,area_code
  </sql>
  <sql id="Use_Column_List">
    restaurant_id, restaurant_name, address, tel, score, monthly_sales,area_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Use_Column_List" />
    from tb_restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </select>
  <select id="login" parameterType="Map" resultType="Restaurant">
    select
    <include refid="Base_Column_List"/>
    from tb_restaurant where login_name=#{loginName} and password=#{password}
  </select>
  <select id="selectRestaurantByCondition" parameterType="Map" resultMap="BaseResultMap" resultType="List">
    select
    <include refid="Base_Column_List"/>
    from tb_restaurant
    <where>
        area_code=#{areaCode} and
        restaurant_name like concat(concat('%',#{restaurantName}),'%')
        or restaurant_id in
        <foreach collection="restaurantIdList" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 27 11:16:14 CST 2017.
    -->
    delete from tb_restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trip.entity.Restaurant" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 27 11:16:14 CST 2017.
    -->
    insert into tb_restaurant (restaurant_id, login_name, password, 
      restaurant_name, address, tel, 
      score, monthly_sales, area_code,
      exp_content2)
    values (#{restaurantId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{restaurantName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{score,jdbcType=DOUBLE}, #{monthlySales,jdbcType=INTEGER}, #{areaCode,jdbcType=VARCHAR},
      #{expContent2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trip.entity.Restaurant" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 27 11:16:14 CST 2017.
    -->
    insert into tb_restaurant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="restaurantName != null" >
        restaurant_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="monthlySales != null" >
        monthly_sales,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="expContent2 != null" >
        exp_content2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="restaurantName != null" >
        #{restaurantName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="monthlySales != null" >
        #{monthlySales,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="expContent2 != null" >
        #{expContent2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trip.entity.Restaurant" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 27 11:16:14 CST 2017.
    -->
    update tb_restaurant
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="restaurantName != null" >
        restaurant_name = #{restaurantName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="monthlySales != null" >
        monthly_sales = #{monthlySales,jdbcType=INTEGER},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="expContent2 != null" >
        exp_content2 = #{expContent2,jdbcType=VARCHAR},
      </if>
    </set>
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trip.entity.Restaurant" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 27 11:16:14 CST 2017.
    -->
    update tb_restaurant
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      restaurant_name = #{restaurantName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      monthly_sales = #{monthlySales,jdbcType=INTEGER},
      area_code = #{areaCode,jdbcType=VARCHAR},
      exp_content2 = #{expContent2,jdbcType=VARCHAR}
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
</mapper>